.upDown {
    animation: MoveUpDown 5s ease-in-out infinite;
}
  
.upDown2 {
  animation: MoveUpDown 6s ease-in-out infinite;
  animation-delay: -5s;
}

@keyframes MoveUpDown {
  50%{
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

  /* WRITE */

.typewriter h5 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}