.upDown {
    animation: MoveUpDown 5s ease-in-out infinite;
}
  
.upDown2 {
  animation: MoveUpDown 6s ease-in-out infinite;
  animation-delay: -5s;
}

@keyframes MoveUpDown {
  50%{
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}