/* ANIMATION */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.animation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}
.animation span {
    width: 7vmin;
    height: 7vmin;
    border-radius: 7vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.animation span:nth-child(0) {
    color: #002aff;
    top: 37%;
    left: 23%;
    animation-duration: 7s;
    animation-delay: -48s;
    transform-origin: -19vw -10vh;
    box-shadow: 14vmin 0 2.2893493016370083vmin currentColor;
}
.animation span:nth-child(1) {
    color: #ffffff;
    top: 98%;
    left: 17%;
    animation-duration: 19s;
    animation-delay: -47s;
    transform-origin: -13vw 17vh;
    box-shadow: 14vmin 0 2.3250872478310782vmin currentColor;
}
.animation span:nth-child(2) {
    color: #ff0000;
    top: 39%;
    left: 38%;
    animation-duration: 43s;
    animation-delay: -39s;
    transform-origin: -23vw -7vh;
    box-shadow: 14vmin 0 2.0986506983823556vmin currentColor;
}
.animation span:nth-child(3) {
    color: #002aff;
    top: 93%;
    left: 73%;
    animation-duration: 16s;
    animation-delay: -35s;
    transform-origin: 9vw 9vh;
    box-shadow: 14vmin 0 2.0616922750588427vmin currentColor;
}
.animation span:nth-child(4) {
    color: #ffffff;
    top: 16%;
    left: 71%;
    animation-duration: 19s;
    animation-delay: -4s;
    transform-origin: 6vw -20vh;
    box-shadow: -14vmin 0 2.708661253994617vmin currentColor;
}
.animation span:nth-child(5) {
    color: #ffffff;
    top: 44%;
    left: 98%;
    animation-duration: 20s;
    animation-delay: -48s;
    transform-origin: -12vw -15vh;
    box-shadow: -14vmin 0 1.8914307759475482vmin currentColor;
}
.animation span:nth-child(6) {
    color: #002aff;
    top: 13%;
    left: 18%;
    animation-duration: 38s;
    animation-delay: -48s;
    transform-origin: 0vw -24vh;
    box-shadow: 14vmin 0 2.6717982971834244vmin currentColor;
}
.animation span:nth-child(7) {
    color: #002aff;
    top: 59%;
    left: 46%;
    animation-duration: 52s;
    animation-delay: -15s;
    transform-origin: -24vw 6vh;
    box-shadow: -14vmin 0 1.7743719342332152vmin currentColor;
}
.animation span:nth-child(8) {
    color: #ff0000;
    top: 69%;
    left: 96%;
    animation-duration: 19s;
    animation-delay: -10s;
    transform-origin: -3vw -7vh;
    box-shadow: 14vmin 0 2.689469557435074vmin currentColor;
}
.animation span:nth-child(9) {
    color: #ffffff;
    top: 16%;
    left: 100%;
    animation-duration: 16s;
    animation-delay: -29s;
    transform-origin: 4vw 1vh;
    box-shadow: 14vmin 0 2.6892013402746535vmin currentColor;
}
.animation span:nth-child(10) {
    color: #ffffff;
    top: 19%;
    left: 62%;
    animation-duration: 20s;
    animation-delay: -27s;
    transform-origin: -13vw 8vh;
    box-shadow: 14vmin 0 2.4226950648285195vmin currentColor;
}
.animation span:nth-child(11) {
    color: #002aff;
    top: 2%;
    left: 1%;
    animation-duration: 8s;
    animation-delay: -45s;
    transform-origin: 11vw 4vh;
    box-shadow: -14vmin 0 2.6316867778210398vmin currentColor;
}
.animation span:nth-child(12) {
    color: #ff0000;
    top: 37%;
    left: 49%;
    animation-duration: 46s;
    animation-delay: -3s;
    transform-origin: 22vw -11vh;
    box-shadow: 14vmin 0 2.23849794721564vmin currentColor;
}
.animation span:nth-child(13) {
    color: #ff0000;
    top: 98%;
    left: 22%;
    animation-duration: 9s;
    animation-delay: -8s;
    transform-origin: 20vw -17vh;
    box-shadow: 14vmin 0 2.7003314763092403vmin currentColor;
}
.animation span:nth-child(14) {
    color: #ffffff;
    top: 77%;
    left: 76%;
    animation-duration: 22s;
    animation-delay: -23s;
    transform-origin: -14vw -22vh;
    box-shadow: -14vmin 0 2.3174985256410654vmin currentColor;
}
.animation span:nth-child(15) {
    color: #ffffff;
    top: 66%;
    left: 16%;
    animation-duration: 49s;
    animation-delay: -14s;
    transform-origin: 0vw -10vh;
    box-shadow: 14vmin 0 2.084897802111639vmin currentColor;
}
.animation span:nth-child(16) {
    color: #ff0000;
    top: 2%;
    left: 3%;
    animation-duration: 37s;
    animation-delay: -15s;
    transform-origin: 23vw -6vh;
    box-shadow: 14vmin 0 2.072372554706247vmin currentColor;
}
.animation span:nth-child(17) {
    color: #ff0000;
    top: 19%;
    left: 95%;
    animation-duration: 22s;
    animation-delay: -7s;
    transform-origin: 8vw -10vh;
    box-shadow: 14vmin 0 2.175251663999021vmin currentColor;
}
.animation span:nth-child(18) {
    color: #ff0000;
    top: 85%;
    left: 39%;
    animation-duration: 54s;
    animation-delay: -9s;
    transform-origin: -10vw -4vh;
    box-shadow: -14vmin 0 2.0950439541656696vmin currentColor;
}
.animation span:nth-child(19) {
    color: #002aff;
    top: 7%;
    left: 77%;
    animation-duration: 24s;
    animation-delay: -50s;
    transform-origin: 23vw -10vh;
    box-shadow: -14vmin 0 2.493794802349967vmin currentColor;
}
.animation span:nth-child(20) {
    color: #ff0000;
    top: 97%;
    left: 32%;
    animation-duration: 50s;
    animation-delay: -22s;
    transform-origin: 14vw 13vh;
    box-shadow: 14vmin 0 2.3828626456225326vmin currentColor;
}
.animation span:nth-child(21) {
    color: #002aff;
    top: 13%;
    left: 58%;
    animation-duration: 31s;
    animation-delay: -3s;
    transform-origin: 17vw -3vh;
    box-shadow: 14vmin 0 2.3155006365816817vmin currentColor;
}
.animation span:nth-child(22) {
    color: #002aff;
    top: 37%;
    left: 58%;
    animation-duration: 21s;
    animation-delay: -14s;
    transform-origin: -5vw -15vh;
    box-shadow: 14vmin 0 2.1474219788992523vmin currentColor;
}
.animation span:nth-child(23) {
    color: #002aff;
    top: 32%;
    left: 13%;
    animation-duration: 53s;
    animation-delay: -24s;
    transform-origin: 14vw -24vh;
    box-shadow: -14vmin 0 2.0260244030663vmin currentColor;
}
.animation span:nth-child(24) {
    color: #ffffff;
    top: 53%;
    left: 99%;
    animation-duration: 7s;
    animation-delay: -43s;
    transform-origin: -8vw -3vh;
    box-shadow: 14vmin 0 2.4609838199387433vmin currentColor;
}
